*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Neutral-0: hsl(0, 0%, 100%);
    --Neutral-300: hsl(252, 6%, 83%);
    --Neutral-500: hsl(245, 15%, 58%);
    --Neutral-700: hsl(245, 19%, 35%);
    --Neutral-900: hsl(248, 70%, 10%);
    --Orange-500: hsl(7, 88%, 67%);
    --Orange-700: hsl(7, 71%, 60%);
    --Gradient: hsl(7, 86%, 67%), hsl(0, 0%, 100%);
    --font-bold: 'FontBold';
    --font-extraBold: 'FontExtraBold';
    --font-medium: 'FontMedium';
    --font-regular: 'FontRegular';
}

@font-face {
    font-family: 'Inconsolata';
    src: url('assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 400 500 700 800;
    font-style:normal;
}

@font-face {
    font-family: 'FontBold';
    src: url(assets/fonts/static/Inconsolata-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FontExtraBold';
    src: url(assets/fonts/static/Inconsolata-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FontMedium';
    src: url(assets/fonts/static/Inconsolata-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FontRegular';
    src: url(assets/fonts/static/Inconsolata-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: var(--Neutral-900);
    color: var(--Neutral-300);
    min-height: 100vh;
    font-family: 'Inconsolata', serif;
    overflow-x: hidden;
    width: 100%;
}

main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.xl-text {
    font-size: 50px;
}

.l-text {
    font-size: larger;
}

.md-text {
    font-size: medium;
}

.xsm-text {
    font-size: small;
    text-align: left;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin: 15px;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-container h3 {
    font-family: var(--font-extraBold);
    font-size: x-large;
}

header .header-container img {
    width: 18%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.hero .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.hero .hero-container h1 {
    word-wrap: break-word;
    width: 60%;
    text-align: center;
    margin-bottom: 12px;
}

form .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    text-align: left;
}

form .label1 {
    margin: 20px 0 5px 0;
}

form .label1 input{
    display: none;
}

form .label1 .upload-area {
    width: 450px;
    max-width: 550px;
    height: 150px;
    border: 2px dashed var(--Neutral-500);
    border-radius: 10px;
    background-color: var(--Neutral-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--Neutral-500);
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    transition: border 1s ease;
}

form .label input:hover {
    background-color: var(--Neutral-700);
    cursor:pointer;
}


form .label1 .upload-area:hover {
    border-color: var(--Neutral-300);
    background-color: var(--Neutral-700);
}

form .label1 .upload-area.dragover {
    border: 2px solid var(--Neutral-300);
}

form .label1 .photo-size {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px; 
    border: 1px solid var(--Neutral-500);
    background-color: var(--Neutral-900);
    color: var(--Neutral-300);
    font-family: 'Inconsolata';
    font-size: 16px;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: border-color 1.5s ease; 
    margin-top: 12px;
}

input[type="text"]:focus , input[type="email"]:focus {
    border-color: var(--Neutral-300);
}

.submit-form {
    width: 100%;
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    background-color: var(--Orange-700);
    font-family: 'Inconsolata';
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 1.5s ease;
}

.submit-form:focus {
    background-color: var(--Orange-500);
}

.remove-button, .change-button {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-family: 'Inconsolata';
    font-size: 14px;
    background-color: var(--Neutral-700);
    color: var(--Neutral-300);
    cursor: pointer;
}

.remove-button:hover, .change-button:hover {
    border-color: var(--Neutral-300);
}

.display-data {
    width: 90%;
    max-width: 800px;
    padding: .5rem;
    margin: auto;
    position: relative;
    z-index: 20;
    text-align: center;
}

.display-data .logo {
    margin: 0 auto 1.8rem auto; 
}

.display-data .heading {
    margin-bottom: 4rem;
}

.display-data .heading h1 {
    font-size: 45px;
}

.display-data .heading p {
    padding: 0 7.5rem;
    margin: 18px;
    font-size: 19px;
}

.display-data .ticket-container {
    background-color: var(--Neutral-900);
    background: url(assets/images/pattern-ticket.svg);
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 9;
    max-width: 500px;
    padding: 1rem;
    margin: auto;
    position: relative;
    border-radius: .5rem;
}

.display-data .ticket-container .logo {
    margin-bottom: .5rem;
    font-size: 2.75rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.display-data .ticket-container .date {
    color: var(--Neutral-300);
    margin-right: 3.2rem;
    margin-bottom: 4rem;
}

.display-data .ticket-container .ticket-user {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.display-data .ticket-container .ticket-user img {
    width: 65px;
    border-radius: .75rem;
}

.display-data .ticket-container .ticket-user #display-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.display-data .ticket-container .ticket-user .github-username {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.display-data .ticket-container .ticket-user .github-username img {
    width: 20px;
}

.display-data .ticket-container .ticket-number {
    color: var(--Neutral-300);
    font-size: 1.75rem;
    position: absolute;
    right: 5px;
    top: 36%;
    transform: rotate(90deg);
}


/* for .display-data container*/
@media (max-width: 540px) {
    .display-data {
        padding: 0;
    }

    .display-data .heading p {
        padding: 0;
    }

    .display-data .ticket-container .logo {
        margin-bottom: 0;
        font-size: 1.5rem;
    }

    .display-data .ticket-container .date {
        margin-bottom: 2rem;
    }

    .display-data .ticket-container .ticket-user img {
        width: 45px;
    }

    .display-data .ticket-container .ticket-user #display-name {
        font-size: 1.25rem;
    }

    .display-data .ticket-container .ticket-number {
        right: -8px;
    }

}

@media (min-width: 360px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    main {
        max-width: 100%;
        overflow-x: hidden;
    }

    .hero .hero-container {
        width: 100%;
    }

    .hero .hero-container h1 {
        width: 100%;
        font-size: 30px;
    }

    .hero .hero-container p {
        max-width: 100%;
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
    }

    form .label1 {
        max-width: 100%;
    }

    form .label1 .upload-area {
        max-width: 100%;
    }
}